<!DOCTYPE html>
<html>
  <head>
    <title>Eat da Burger!</title>
  </head>
  <body>
    <h1>Eat da Burger!</h1>
    {{{body}}}
    <form action="burger/create" method="POST">
      <label>Place Your Order</label>
      <textarea id="new_burger" name="burger_name"></textarea>
      <button id="submit-button" type="submit">Place Order</button>
    </form>
  </body>
</html>
